-- VNC Connection for {{ username }}
WITH new_connection AS (
    INSERT INTO guacamole_connection (connection_name, protocol)
    VALUES ('{{ username }}', 'vnc')
    RETURNING connection_id
),
insert_params AS (
    INSERT INTO guacamole_connection_parameter (connection_id, parameter_name, parameter_value)
    SELECT connection_id, param_name, param_value
    FROM new_connection, (VALUES
        ('hostname', '{{ inventory_hostname }}'),
        ('port', '{{ port }}'),
        ('username', '{{ username }}'),
        ('password', '{{ vnc_password }}')
    ) AS params(param_name, param_value)
)
SELECT 1;
