{% comment %}
Copyright 2026 "Google LLC"

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}

blueprint_name: {{ cluster.cloud_id }}

vars:
  project_id: {{ project_id }}
  deployment_name: {{ cluster.cloud_id }}
  region: {{ cluster.cloud_region }}
  zone: {{ cluster.cloud_zone }}
  enable_cleanup_compute: True
  enable_bigquery_load: {{ cluster.use_bigquery }}
  
  labels:
    created_by: {{ site_name }}

deployment_groups:
- group: primary
  modules:
  - source: modules/network/pre-existing-vpc
    kind: terraform
    settings:
      network_name: {{ cluster.subnet.vpc.cloud_id }}
      subnetwork_name: {{ cluster.subnet.cloud_id }}
    id: hpc_network

{% if artifact_registry_yaml %}
  - id: services-api
    source: community/modules/project/service-enablement
    settings:
      gcp_service_list:
        - secretmanager.googleapis.com
        - cloudbuild.googleapis.com
        - artifactregistry.googleapis.com
{% endif %}

{{ artifact_registry_yaml | safe }}

{{ filesystems_yaml | safe }}

  - source: modules/project/service-account
    kind: terraform
    id: hpc_service_account
    settings:
      project_id: {{ project_id }}
      name: {{ controller_sa }}
      project_roles:
      - compute.instanceAdmin.v1
      - iam.serviceAccountUser
      - monitoring.metricWriter
      - logging.logWriter
      - storage.objectAdmin
      - pubsub.admin
      - compute.securityAdmin
      - iam.serviceAccountAdmin
      - resourcemanager.projectIamAdmin
      - compute.networkAdmin
      - artifactregistry.admin
      - secretmanager.secretAccessor

{% if cluster.viz_desktop_enabled %}
  - source: community/modules/remote-desktop/novnc-runtime
    kind: terraform
    id: viz_desktop_runtime
    settings:
      startup_script: |
        #!/bin/bash
        echo "******************************************** CALLING COMPUTE STARTUP"
        gcloud storage cat gs://{{ startup_bucket }}/clusters/{{ cluster.id }}/bootstrap_compute.sh | bash
      desktop_endpoint_dir: /shared/ghpc-remote-desktop/endpoints
      desktop_endpoint_name: viz
      novnc_proxy_secret: "{{ cluster.desktop_proxy_secret }}"
      novnc_identity_mode: {{ desktop_identity_mode }}
      slurm_auth_mode: auto
      vnc_backend: "{{ cluster.viz_desktop_vnc_backend }}"
{% if viz_desktop_gpu_acceleration %}
      enable_gpu_acceleration: true
{% endif %}

  - source: modules/scripts/startup-script
    kind: terraform
    id: viz_desktop_startup
    settings:
      bucket_viewers:
        - "serviceAccount:$(hpc_service_account.service_account_email)"
      runners: $(viz_desktop_runtime.startup_runners)
{% endif %}

{{ partitions_yaml | safe }}

{{ desktop_partition_yaml | safe }}

{{ cloudsql_yaml | safe }}

  - source: community/modules/scheduler/schedmd-slurm-gcp-v6-controller
    kind: terraform
    id: slurm_controller
    settings:
      enable_slurm_auth: {{ cluster.enable_slurm_auth | lower }}
      instance_image:
        family: slurm-gcp-6-12-hpc-rocky-linux-9
        project: schedmd-slurm-public
      cloud_parameters:
        resume_rate: 0
        # Kept consistent with the partition resume_timeout; must cover node
        # boot plus the 1200s compute startup-script budget set below.
        resume_timeout: 1800
        suspend_rate: 0
        suspend_timeout: 300
        no_comma_params: false
      machine_type: {{ cluster.controller_instance_type }}
      disk_type: {{ cluster.controller_disk_type }}
      disk_size_gb: {{ cluster.controller_disk_size }}
      {{ controller_image_yaml | safe }}
      service_account_email: $(hpc_service_account.service_account_email)
      service_account_scopes:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/monitoring.write
        - https://www.googleapis.com/auth/logging.write
        - https://www.googleapis.com/auth/devstorage.read_write
        - https://www.googleapis.com/auth/pubsub
      compute_startup_scripts_timeout: 1200
      controller_startup_scripts_timeout: 1200
{% if cluster.login_desktop_enabled %}
      login_startup_scripts_timeout: 1200
{% endif %}
      controller_startup_script: |
        #!/bin/bash
        echo "******************************************** CALLING CONTROLLER STARTUP"
        gcloud storage cat gs://{{ startup_bucket }}/clusters/{{ cluster.id }}/bootstrap_controller.sh | bash
{% if cluster.login_desktop_enabled %}
      login_startup_script: $(login_desktop_startup.startup_script)
{% else %}
      login_startup_script: |
        #!/bin/bash
        echo "******************************************** CALLING LOGIN STARTUP"
        gcloud storage cat gs://{{ startup_bucket }}/clusters/{{ cluster.id }}/bootstrap_login.sh | bash
{% endif %}
    use:
    - slurm_login
{{ controller_uses | safe }}

  - source: community/modules/scheduler/schedmd-slurm-gcp-v6-login
    kind: terraform
    id: slurm_login
    settings:
      instance_image:
        family: slurm-gcp-6-12-hpc-rocky-linux-9
        project: schedmd-slurm-public
      num_instances: {{ cluster.num_login_nodes }}
      subnetwork_self_link: "projects/{{ cluster.project_id }}/regions/{{ cluster.cloud_region }}/subnetworks/{{ cluster.subnet.cloud_id }}"
      machine_type: {{ cluster.login_node_instance_type }}
      disk_type: {{ cluster.login_node_disk_type }}
      disk_size_gb: {{ cluster.login_node_disk_size }}
      {{ login_image_yaml | safe }}
      service_account_email: $(hpc_service_account.service_account_email)
      service_account_scopes:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/monitoring.write
        - https://www.googleapis.com/auth/logging.write
        - https://www.googleapis.com/auth/devstorage.read_write
{% if cluster.login_desktop_enabled %}
      tags:
        - ghpc-novnc-desktop
{% endif %}
{% if cluster.has_any_desktop %}
{{ desktop_network_yaml | safe }}
{% endif %}

{% if cluster.login_desktop_enabled %}
  - source: community/modules/remote-desktop/novnc-runtime
    kind: terraform
    id: login_desktop_runtime
    settings:
      startup_script: |
        #!/bin/bash
        echo "******************************************** CALLING LOGIN STARTUP"
        gcloud storage cat gs://{{ startup_bucket }}/clusters/{{ cluster.id }}/bootstrap_login.sh | bash
      desktop_endpoint_dir: /shared/ghpc-remote-desktop/endpoints
      desktop_endpoint_name: login
      novnc_proxy_secret: "{{ cluster.desktop_proxy_secret }}"
      novnc_identity_mode: {{ desktop_identity_mode }}
      slurm_auth_mode: auto
      vnc_backend: "{{ cluster.login_desktop_vnc_backend }}"

  - source: modules/scripts/startup-script
    kind: terraform
    id: login_desktop_startup
    settings:
      bucket_viewers:
        - "serviceAccount:$(hpc_service_account.service_account_email)"
      runners: $(login_desktop_runtime.startup_runners)
{% endif %}

{% if cluster.has_any_desktop and desktop_allowed_ingress_cidrs %}
  - source: modules/network/firewall-rules
    kind: terraform
    id: web_desktop_firewall
    use:
      - hpc_network
    settings:
      ingress_rules:
        - name: {{ cluster.cloud_id }}-novnc
          description: Allow OFE to reach noVNC on cluster desktop hosts
          source_ranges:
{% for cidr in desktop_allowed_ingress_cidrs %}
            - "{{ cidr }}"
{% endfor %}
          target_tags:
            - ghpc-novnc-desktop
          allow:
            - protocol: tcp
              ports:
                - "6080"
{% endif %}
